      @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      body {
        margin: 0;
      }

      .menu {
        background-color: #437ff8;
        display: flex;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        padding-left: 180px;
        padding-right: 240px;
        height: 50px;
      }
      a {
        color: white;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
      }

      .imgsudo {
        display: flex;
        margin-left: 10%;
        height: 100px;
        width: 150px;
        display: flex;     
      }
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
      }
      .numero {
        margin-left: 40%;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: white;
      }
      .area {
        margin-right: 14%;
        border: 1px solid;
        padding: 10px;
        border-radius: 5px;
        border-color: #437ff8;
        color: #437ff8;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: bolder;
      }
      .area:hover {
        background-color: #437ff8;
        color: white;
        transition: 0.5s;
      }
      .fundo {
        background-color: #437ff8;
        padding: 10px;
        transition: all 0.3s ease-out;
        cursor: pointer;
        font-size: 15px;
      }
      .fundo:hover {
        padding: 15px;
        border-radius: 2px;
        background-color: #2f77ec;
      }
