

body{
    background-image: url(img/IMG_9521\ \(2\).PNG);
    background-size: cover;
    background-repeat: no-repeat;  
   
   
}
.espacamento{
    padding-left: 9%;
}

h1{
    margin: 30px;
    font-weight: bolder;
    font-size: 44px;
    color: #ffef13;
    line-height: 45px;
    margin-bottom: 15px;
    padding-top: 50px;
    font-family: 'Poppins', sans-serif;
}
.brdocss{
    padding-right: 60%;


}
p{
    line-height: 1.2;
    margin: 30px;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
}


.botao {
    transition: 0.5s ease;
    font-weight: bolder;
    font-size: 16px;
    margin: 30px;
    padding: 10px 40px;
    background-color:transparent; 
    color: #ffef13; 
    border-radius: 8px; 
    border-color:#ffef13;
    cursor: pointer;
}


.botao:hover {
    background-color: #ffef13;
    color: rgb(15, 15, 15);
}




